<!-- NAVBAR -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#">Fixed top</a>
<button type="button" class="btn btn-primary navbar-right">Primary</button>
</nav> -->

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Left</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="//codeply.com">Codeply</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>
		</div>
		<div class="mx-auto order-0">
			<a class="navbar-brand mx-auto" href="#">Navbar 2</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<div class="navbar-nav ml-auto">
					<a class="btn btn-primary" href="/company/add"><i class="fi-plus"></i> Добавить организацию</a>
			</div>
		</div>
	</nav> -->


<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
	<div class="mdl-layout__header-row">
		<span class="mdl-layout-title">{% block page_title %}{% endblock %}</span>
		<div class="mdl-layout-spacer"></div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
			<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
				<i class="material-icons">search</i>
			</label>
			<div class="mdl-textfield__expandable-holder">
				<input class="mdl-textfield__input" type="text" id="search">
				<label class="mdl-textfield__label" for="search">Enter your query...</label>
			</div>
		</div>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon ml-3 mr-3" id="hdrbtn">
			<i class="material-icons">more_vert</i>
		</button>
		<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
			<li class="mdl-menu__item">About</li>
			<li class="mdl-menu__item">Contact</li>
			<li class="mdl-menu__item">Legal information</li>
		</ul>
		<a href="/company/add"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			<i class="material-icons mdc-button__icon" aria-hidden="true">add</i>Добавить организацию
		</button></a>
	</div>
</header>