{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    Компании и контакты | {{ block.super }}
{% endblock %}

{% block extrahead %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css">


    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script src="{% static 'assets/js/ddv_example_testmodel.js' %}"></script>
    <script type="text/javascript">
        var TESTMODEL_LIST_JSON_URL = "{% url 'testmodel_list_json' %}";
        // translations for datatables

        var dt_language = {
            "emptyTable":     "{% trans "В таблице отсутствуют данные" %}",
            "info":           "{% trans "Записи с _START_ до _END_ из _TOTAL_ записей" %}",
            "infoEmpty":      "{% trans "Записи с 0 до 0 из 0 записей" %}",
            "infoFiltered":   "{% trans "(отфильтровано из _MAX_ записей)" %}",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{% trans "Показать _MENU_ записей" %}",
            "loadingRecords": "{% trans "Загрузка записей..." %}",
            "processing":     "{% trans "Подождите..." %}",
            "search":         "{% trans "Поиск:" %}",
            "zeroRecords":    "{% trans "Записи отсутствуют." %}",
            "paginate": {
                "first":      "{% trans "Первая" %}",
                "last":       "{% trans "Последняя" %}",
                "next":       "{% trans "Следующая" %}",
                "previous":   "{% trans "Предыдущая" %}"
            },
            "aria": {
                "sortAscending":  "{% trans ": активировать для сортировки столбца по возрастанию" %}",
                "sortDescending": "{% trans ": активировать для сортировки столбца по убыванию" %}"
            }
        }
    </script>
{% endblock %}

<!-- MENU CONTENT -->
{% block page_title %}Компании и контакты{% endblock %}
{% block nav_button %}
<a href="{% url 'company-add' %}" class="ui primary button">
    <i class="icon plus"></i>
    Добавить компанию
</a>
{% endblock %}

<!-- MAIN CONTENT -->
{% block content %}
<table class="datatable ui celled table" style="width:100%">
    <thead>
        <th>{% trans "Название" %}</th>
        <th>{% trans "Description" %}</th>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}